<html>
<head>


</head>
<body><h1>Welcome to the exam:update page</h1>
<fieldset style="width: 50%">
    <form method="POST">
        Subject: <input type="text" name="subject" value="{{ exam.subject }}">
        <br/>
        Session: <input type="text" name="session" value="{{ exam.session }}"><br/>
        Duration: <input type="text" name="duration" value="{{ exam.duration }}"><br/>
        <br/>

        <input type="submit" value="Enregistrer">
    </form>
</fieldset>

</body>

</html>